@import 'tailwindcss';

@theme {
  --color-body: #e3e3d8;
  --color-card: #f4f4f4;
  --color-modal: #f5f6fa;
  --shadow-card: 0px 0px 15px 5px rgba(34, 60, 80, 0.2);
  --shadow-modal: 0px 0px 20px 3px rgba(34, 60, 80, 0.2);
}

@layer base {
  html,
  body {
    @apply min-h-screen bg-body;
  }

  input:focus {
    @apply outline-none;
  }
}

@layer components {
  .content {
    @apply transition-opacity ease-linear duration-200;
  }

  .input {
    @apply bg-white shadow-modal px-5 py-2.5 w-full rounded-xl;
  }

  .btn {
    @apply hover:opacity-60 cursor-pointer transition-opacity duration-100 ease-linear;
  }

  .edit {
    @apply flex items-center justify-center h-full w-[50%] gap-2.5 uppercase cursor-pointer absolute  -translate-y-[100%] right-[0] translate-x-[30rem] transition-all ease-linear duration-400 hover:bg-gray-400;
  }

  .delete {
    @apply flex items-center justify-center h-full w-[50%] gap-2.5 uppercase cursor-pointer absolute -translate-y-[100%] left-[0] -translate-x-[30rem] transition-all ease-linear duration-400 hover:bg-red-500;
  }

  .title {
    @apply text-lg font-medium;
  }

  .card:hover .edit {
    @apply translate-x-0;
  }

  .card:hover .delete {
    @apply translate-x-0;
  }

  .card:hover .content {
    @apply opacity-0;
  }
}
